<div class="navbar-main">
  <%= link_to restaurants_path do %>
    <%= image_tag("logo.png", class: "navbar-item logo-brand") %>
  <% end %>
  <div class="navbar-right-side">
    <%= link_to "Add a restaurant", new_restaurant_path, class: 'navbar-item navbar-link' %>
  </div>
</div>
